<form [formGroup]="bikeForm" (ngSubmit)="submitRegistration()">
    <div *ngIf="validMessage != '' ">
        <h3 class="has-info">{{validMessage}}</h3>
    </div>



    <div class="form-group">
        <label>Nick Name Twitter</label>
        <!-- con formControlName vinculamos cada entrada del form con 
    su respectivo FormControl del archivo .ts -->
        <input type="text" class="form-control" formControlName="name" required autofocus>
    </div>
    <!-- mostramos un mensaje al usuario para indicar que la entrada es erronea -->
    <div *ngIf="controles['name'].errors?.['pattern']">
        <p class="invalidInputMessage">
            Nick Name Invalid
        </p>
    </div>


    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <!-- mostramos un mensaje al usuario para indicar que la entrada es erronea -->
    <div *ngIf="controles['email'].errors?.['email']">
        <p class="invalidInputMessage">
           Email Invalid
        </p>
    </div>




    <div class="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" formControlName="phone">
    </div>
    <div *ngIf="controles['phone'].errors?.['pattern']">
        <p class="invalidInputMessage">
          Complete el telefono
        </p>
    </div>


    <div class="form-group">
        <label>Bike Model</label>
        <select class="form-control" formControlName="model">
            <!-- ejemplo directiva ng estructural for -->
            <option *ngFor="let model of models" [value]="model" >
                {{ model }}
            </option>
        </select>
    </div>
    <div *ngIf="controles['model'].errors?.['required']">
        <p class="invalidInputMessage">
            Complete este campo
        </p>
    </div>

    <div class="form-group">
        <label>Bike Serial Number</label>
        <input type="number" class="form-control" formControlName="serialNumber">
    </div>
    <div *ngIf="controles['serialNumber'].errors?.['min'] || controles['serialNumber'].errors?.['max']">
        <p class="invalidInputMessage">
            Numero Invalid
        </p>
    </div>
    <div class="form-group">
        <label>Purchase Price</label>
        <input type="text" class="form-control" formControlName="purchasePrice">
    </div>
    <div *ngIf="controles['purchasePrice'].errors?.['min'] || controles['purchasePrice'].errors?.['max']">
        <p class="invalidInputMessage">
            Numero Invalid
        </p>
    </div>
    <div class="form-group">
        <label>Purchase Date</label>
        <input type="text" class="form-control" formControlName="purchaseDate">
    </div>
    <div *ngIf="controles['purchaseDate'].errors?.['pattern']">
        <p class="invalidInputMessage">
          Complete correctamente la fecha ej 12/30/2022
        </p>
    </div>

<!-- valclassar que la entrada contact sea required  y 
mostrar un mensaje de error  -->

    <div class="form-group">
        <label>Contact</label>
        <select class="form-control" formControlName="contact">
            <option value="true">Si</option>
            <option value="false">No</option>
        </select>
    </div>
    <!-- mostramos un mensaje al usuario para indicar que la entrada es erronea -->
    <div *ngIf="controles['contact'].errors?.['required'] && bikeForm['touched'] == true ">
        <p class="invalidInputMessage">
          Complete este Campo
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Enviar el Formulario</button>
</form>