body {
    background-image: url("https://www.selwo.es/sites/selwo.es/files/uploads/styles/adaptive/public/swa_panda_rojo_5.jpg?itok=5T-DRj4m");
}

p {
    font-size: 2cm;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {

}

.title {
    color: blue;
}